body{
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin";
    font-size: 20px;
    font-weight: 300;
}
main{
    max-width: 768px;
    margin: 5rem auto;
    box-sizing: border-box;
    padding: 3rem;
    text-align: center;
}
h2{
    color: hsl(0, 0%, 59%);
    font-size: 2.5em;
    font-weight: 300;
    margin: 20px 0;
}
h2 span{
    color: black;
    font-weight: 700;
}
main> p{
    font-size: .75em;
    margin-bottom: 40px;
}
form{
    margin-bottom: 5rem;
    position: relative;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
input, button{
    padding: .75rem 2rem;
    border-radius: 100px;
    
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
input{
    flex: 1 1 390px;
    border: 2px solid hsl(223, 100%, 88%);
}
input::placeholder{
    color: hsl(223, 100%, 88%);
}
button{
    flex: 1 1 200px;
    border: none;
    background-color: hsl(223, 87%, 63%);
    color: white;
    box-shadow: 0px 5px 10px hsla(223, 87%, 63%, 0.5);
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
button:hover{
    background-color: hsl(223, 87%, 73%);
}
main> picture{
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
}
main> picture img{
    width: 110%;
}
nav{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 15px;
}
nav a{
    width: 20px;
    aspect-ratio: 1/1;
    padding: 10px;
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 100px;
    
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
nav :first-child{
    background: url("../images/icon-facebook.svg");
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}
nav :nth-child(2){
    background: url("../images/icon-twitter.svg");
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}
nav :last-child{
    background: url("../images/icon-instagram.svg");
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}

aside p{
    font-size: .625em;
    color: hsl(0, 0%, 59%);
}
label{
    display: none;
}
.invalidForm{
    gap: 0;
}
.invalidInput{
    border: 2px solid hsl(354, 100%, 66%);
}
.invalidInput::placeholder{
    color: hsla(354, 100%, 66%, 0.5);
}
.invalidLabel{
    display: inline;
    margin-bottom: 10px;
    padding-left: 2.25rem;
    color: hsl(354, 100%, 66%);
    font-size: .5em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 633px){
    h2{
        font-size: 1.3em;
    }
}